<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Untree.co">
<link rel="shortcut icon" href="favicon.png">

<meta name="description" content="" />
<meta name="keywords" content="bootstrap, bootstrap4" />

<style>
	button {
		font-family: "Noto Serif KR", serif;
	  	font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
	}
</style>
</head>

<body>

	<div layout:fragment="content">

		<!-- Start Hero Section -->
		<div class="cart-background">
			<div class="container" style="transform: translate(10px, 122px);">
				<div class="row justify-content-between">
					<div class="col-lg-5">
						<div class="intro-excerpt">
							<h1 class="libre-baskerville-bold">Cart</h1>
						</div>
					</div>
					<div class="col-lg-7"></div>
				</div>
			</div>
		</div>
		<!-- End Hero Section -->

		<div class="untree_co-section before-footer-section noto-serif-kr">
			<div class="container">
				<div class="row mb-5">
					<form class="col-md-12" method="post">
						<div class="site-blocks-table">
							<table class="table">
								<thead>
									<tr>
										<th class="product-thumbnail">Image</th>
										<th class="product-name">Product</th>
										<th class="product-price">Price</th>
										<th class="product-quantity">Quantity</th>
										<th class="product-total">Total</th>
										<th class="product-remove">Remove</th>
									</tr>
								</thead>
								<tbody th:each="item : ${exhibitionDetail}">
									<tr>
										<td class="product-thumbnail">
											<img th:src="@{item.imageUrl}" alt="Exhibition Image" class="exhibition-image">
										</td>
										<td class="product-name">
											<h2 class="h5 text-black" th:text="${item.title}"></h2>
										</td>
										<td>10,000원</td>
										<td>
											<div
												class="input-group mb-3 d-flex align-items-center quantity-container"
												style="max-width: 120px;">
												<div class="input-group-prepend">
													<button class="btn btn-outline-black decrease"
														type="button">&minus;</button>
												</div>
												<input type="text"
													class="form-control text-center quantity-amount" value="1"
													placeholder="" aria-label="Example text with button addon"
													aria-describedby="button-addon1">
												<div class="input-group-append">
													<button class="btn btn-outline-black increase"
														type="button">&plus;</button>
												</div>
											</div>

										</td>
										<td>$49.00</td>
										<td><a href="#" class="btn btn-black btn-sm">X</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="row mb-5">
							<div class="col-md-6 mb-3 mb-md-0">
								<button class="btn btn-black btn-sm btn-block">새로고침</button>
							</div>
							<div class="col-md-6">
								<button class="btn btn-outline-black btn-sm btn-block">쇼핑 계속하기</button>
							</div>
						</div>
					</div>
					<div class="col-md-6 pl-5">
						<div class="row justify-content-end">
							<div class="col-md-7">
								<div class="row">
									<div class="col-md-12 text-right border-bottom mb-5">
										<h3 class="text-black h4 text-uppercase">Cart Totals</h3>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-6">
										<span class="text-black">Subtotal</span>
									</div>
									<div class="col-md-6 text-right">
										<strong class="text-black">$230.00</strong>
									</div>
								</div>
								<div class="row mb-5">
									<div class="col-md-6">
										<span class="text-black">Total</span>
									</div>
									<div class="col-md-6 text-right">
										<strong class="text-black">$230.00</strong>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<button class="btn btn-black btn-lg py-3 btn-block"
											onclick="window.location='checkout.html'">결제하기</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>
