<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Untree.co">
<link rel="shortcut icon" href="favicon.png">

<meta name="description" content="" />
<meta name="keywords" content="bootstrap, bootstrap4" />

<!-- Bootstrap CSS -->
<!-- <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"> -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
 <!-- Login CSS
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css" rel="stylesheet"> -->

<link th:href="@{/bootstrap/css/login.css}" rel="stylesheet">
<link th:href="@{/bootstrap/scss/style.scss}" rel="stylesheet">

<title>Sign Up Page</title>
<style>
.register-table{
	width: 50rem;
	background-color: #88b3a2;
	display: grid;
	padding: 25px;
	border-radius: 10px;
	border: none;
	margin: 10px;
}

.btn-register-page{
	width: 73px;
	height: 30px;
	text-align: center;
	font-size: 11px;
	padding: 0;
	vertical-align: middle;
}

.td-input-block{
	padding-left: 20px;
	padding: 18px;
	width: 41rem;
}

.stsYn-text{
	font-size: 9px;
}

.address-input{
	width: 24rem;
	margin-bottom: 10px;
}

#zipcode{
	width: 15rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

input {
    border-radius: 5px;
    outline: none;
    border: none;
}

/* 포커스될 때 테두리 색 변경 */
input:focus {
    border-color: #3b5d50 !important; /* 포커스 시 테두리 색상 변경 */
}
</style>
<script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
<script th:src="@{http://dmaps.daum.net/map_js_init/postcode.v2.js}"></script>
<script>

	function execDaumPostcode() {
	    new daum.Postcode({
	        oncomplete: function(data) {
	            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
	
	            // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
	            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
	            var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
	            var extraRoadAddr = ''; // 도로명 조합형 주소 변수
	
	            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
	            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
	            if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
	                extraRoadAddr += data.bname;
	            }
	            // 건물명이 있고, 공동주택일 경우 추가한다.
	            if (data.buildingName !== '' && data.apartment === 'Y'){
	               extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
	            }
	            // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
	            if (extraRoadAddr !== ''){
	                extraRoadAddr = ' (' + extraRoadAddr + ')';
	            }
	            // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
	            if (fullRoadAddr !== ''){
	                fullRoadAddr += extraRoadAddr;
	            }
	
	            // 우편번호와 주소 정보를 해당 필드에 넣는다.
	            document.getElementById('zipcode').value = data.zonecode; //5자리 새우편번호 사용
	            document.getElementById('roadAddress').value = fullRoadAddr;
	            document.getElementById('jibunAddress').value = data.jibunAddress;
	
	        }
	    }).open();
	}
	
</script>

<script>

	let isPassId = false;
	let isPassPasswd = false;
	let isDuplicatedChecked = false; // 중복 확인 여부 추적 변수
	
	$().ready(function() {
		
		/* 아이디 */
		$("#isDuplicatedId").click(function(){
			
			isDuplicatedChecked = true;
			
			let memberId = $("#memberId").val();
		    if (memberId == "") {
		    	$("#isDuplicatedIdMsg").html("<span style='color:red;'>아이디를 입력하세요.</span>");
		   		return;
		    }
		   
		    $.ajax({
		    	
		       type : "post",
		       url : "/member/api/checkDuplicatedId",
		       data : { "memberId" : memberId },
		       success : function (isDuplicated) {
		    	  console.log(isDuplicated);
		          if (isDuplicated == "y") {
		          	$("#isDuplicatedIdMsg").html("<span style='color:green;'>사용가능한 아이디입니다.</span>");
		          	isDuplicatedChecked = true;  // 중복 확인 완료
		          	isPassId = true;
		          }
		          else {
	        		$("#isDuplicatedIdMsg").html("<span style='color:red;'>중복된 아이디입니다.</span>");
	        		isDuplicatedChecked = false;  // 중복 확인 실패
	        		isPassId = false;
		          }
		          
		       }
		       
		    });
		    
		});	
		
		
		// 이메일 형식 검증 함수
	    function isValidEmail(email) {
	        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
	        return emailRegex.test(email);
	    }

	    // 이메일 입력 필드에서 포커스가 벗어났을 때(blur 이벤트) 실행
	    $("#memberId").change(function() {
	        var email = $(this).val(); // 입력한 값 가져오기

	        if (!isValidEmail(email)) {
	            alert("올바른 이메일 형식으로 입력하세요.");
	            $(this).focus(); // 잘못 입력했을 경우 다시 포커스를 이메일 입력 칸으로 이동
	            return;
	        }
	        
	    });
	    
	 	// 이메일 필드에서 실시간으로 키 입력을 감지해 메시지 처리
	    $("#memberId").keyup(function() {
	        var email = $(this).val(); // 입력한 값 가져오기

	        // 입력된 값이 없으면 중복 확인 메시지 삭제
	        if (email === "") {
	            $("#isDuplicatedIdMsg").html(""); // 메시지 초기화
	            isDuplicatedChecked = false; // 다시 중복 확인 필요
	        }
	    });
	 	
	 	$("input[type='submit']").click(function(){
	 		
	 		if(!isDuplicatedChecked){
	 			alert("아이디 중복확인을 해주세요.");
	            $(this).focus(); // 다시 아이디 입력 칸으로 포커스 이동
	 		}
	 	});
		
		
		/* 패스워드 */
		$("#confirmPasswd").keyup(function(){
			
			let passwd = $("#passwd").val();
			let confirmPasswd = $("#confirmPasswd").val();
			
			if (passwd == confirmPasswd && passwd !== "" && confirmPasswd !== "") {
				$("#isValidPasswdMsg").html("<span style='color:green;'>패스워드가 일치합니다.</span>");
				isPassPasswd = true;
			}
			else if (passwd != confirmPasswd && passwd !== "" && confirmPasswd !== ""){
				$("#isValidPasswdMsg").html("<span style='color:red;'>패스워드가 일치하지 않습니다.</span>");
				isPassPasswd = false;
			}
			
		});	
	    
	 	
	    $("#confirmPasswd").keyup(function() {
	        var confirmPasswd = $(this).val(); // 입력한 값 가져오기

	        // 입력된 값이 없으면 중복 확인 메시지 삭제
	        if (confirmPasswd === "") {
	            $("#isValidPasswdMsg").html("<span style='color:red;'>비밀번호 확인을 위하여 재입력 해주세요.</span>");
	        }
	    });
		
	});
	
	
	function checkFormValidation() {

		if (!isPassId) {
			alert("아이디를 확인해주세요.");
			$("#memberId").focus();
			return false;
		}
		
		if (!isPassPasswd) {
			alert("패스워드를 확인해주세요.");
			$("#confirmPasswd").focus();
			return false;
		}
	}
	
	
</script>
</head>
<body>
	<!-- <a href="https://front.codes/" class="logo" target="_blank">
    <img src="https://assets.codepen.io/1462889/fcy.png" alt="">
 </a> -->
	<div layout:fragment="content">

		<div class="login-background">
			<div class="section">
				<div class="container noto-serif-kr" align="center">
					<form th:action="@{/member/registerMember}" th:onsubmit="return checkFormValidation();" method="post" enctype="multipart/form-data">
						<h3 style="padding: 40px;">Sign Up</h3>
						<table border="1" class="register-table">
							<tr>
								<td>아이디(이메일)</td>
								<td class="td-input-block">
						            <input type="email" name="memberId" id="memberId" placeholder="아이디(이메일)" required class="input-block"/>&emsp;
						            <input type="button" id="isDuplicatedId" class="btn btn-register-page" value="중복확인" />&emsp;
						            <span id="isDuplicatedIdMsg"></span>
						        </td>
						    </tr>
					        <tr>
						        <td>비밀번호</td>
						        <td class="td-input-block"><input type="password" id="passwd" name="passwd" placeholder="비밀번호" required class="input-block"/></td>
					        </tr>
					        <tr>
						        <td>비밀번호 확인</td>
						        <td class="td-input-block">
						        	<input type="password" id="confirmPasswd" placeholder="비밀번호 확인" required class="input-block"/>&emsp;
						        	<span id="isValidPasswdMsg"></span>
						        </td>
					        </tr>
					        <tr>
						        <td>이름</td>
						        <td class="td-input-block"><input type="text" name="memberNm" placeholder="실명으로 입력하세요." required class="input-block"/></td>
					        </tr>                
					        <tr>
						        <td>생년월일</td>
						        <td class="td-input-block">
									<input type="date" name="birthAt" required class="input-block">
						        </td>
					        </tr>                        
					        <tr>
						        <td>핸드폰 번호</td>
						        <td class="td-input-block">
									<input type="text" name="memberHp" placeholder="010-0000-0000" required class="input-block">
						        </td>
					        </tr>                         
					        <tr>
						        <td>프로필</td>
						        <td class="td-input-block">
						        	<input type="file" name="uploadProfile" class="input-block"/>
						        	<!-- MEMBER_PROFILE_ORIGINAL_NAME과 MEMBER_PROFILE_UUID는 백엔드에서 처리 -->
						        </td>
					        </tr>                              
					        <tr>
						        <td>주소</td>
						        <td class="td-input-block">
						        	<input type="text" placeholder="우편번호 입력" id="zipcode" name="zipcode" required class="input-block address-input">
					                <input type="button" th:onclick="javascript:execDaumPostcode()" value="검색" class="btn btn-register-page">
					                <input type="text" name="roadAddress" id="roadAddress" size="60" required placeholder="도로명 주소" class="input-block address-input"> <br>
									<input type="text"  name="jibunAddress" id="jibunAddress" size="60" required placeholder="지번 주소"class="input-block address-input"> <br>
									<input type="text" name="namujiAddress" id="namujiAddress" size="60" placeholder="나머지 주소" class="input-block address-input"/>
						        </td>
					        </tr>
					        <tr style="border-bottom: 2px solid black;">
					        	<td>수신 동의 여부</td>
					        	<td class="td-input-block">
					        		&emsp;메시지 수신&emsp;<input type="checkbox" value="y" name="smsstsYn" class="chkbox"/>
					        		&emsp;이메일 수신&emsp;<input type="checkbox" value="y" name="emailstsYn" class="chkbox"/>
					        		<span class="stsYn-text">AMRS에서 발송하는 소식을 수신합니다.</span>
					        	</td>
					        </tr>
						    <tr>
						        <td colspan="2" align="center">
						        	이미 회원가입이 되어있다면 ? <a th:href="@{/member/login}"><strong>로그인하기</strong></a>
						        </td>
					        </tr>                            
					     </table>
					        <input type="hidden" value="USER" name="memberRole"/> 
						    <input type="submit" value="회원가입" style="margin: 50px;">
	     			</form>
				</div>	
			</div>
		</div>
	</div>
</body>
</html>