<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Main Home</title>
</head>
<body>
	
	<div layout:fragment="content">
	
		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between" style="transform: translate(70px, 40px);">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1 class="libre-baskerville-bold"><Strong>A</Strong>MRS, always<br/><span clsas="d-block"><Strong>M</Strong>aking<br/><Strong>R</Strong>emarkable<br/><Strong>S</Strong>tories.</span></h1>
								<p class="mb-4 noto-serif-kr">고전부터 현대까지 다양한 명작을 만나보세요.<br/>지금 바로 최고의 전시에서 예술의 아름다움과 깊은 감동을 경험하세요.<br/>AMRS에서 예술이 살아 숨쉬는 세계로 여러분을 초대합니다.</p>
								<p><a th:href="@{/}" class="btn btn-secondary me-2 noto-serif-kr">→ 지금 예매하기</a></p>
							</div>
						</div>
						<div class="col-lg-7"></div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		<!-- Start Product Section -->
		<div class="product-section">
			<div class="container">
				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h2 class="mb-4 section-title noto-serif-kr">다양한 전시를<br/>누려보세요!</h2>
						<p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. </p>
					</div> 

					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0" th:each="exhibition : ${exhibitionList}">
						<a class="product-item" th:href="@{/exhibition/exhibitionDetail/{localId}(localId=${exhibition['localId']})}">
							<img th:src="${exhibition['imageUrl']}" class="img-fluid product-thumbnail" onerror="this.src='/bootstrap/images/img-grid-3.jpg'" alt="Exhibition Image">
							<h3 class="product-title" th:text="${exhibition.title}">Exhibition Title</h3>

							<span class="icon-cross">
								<img th:src="@{/bootstrap/images/cross.svg}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 2 -->

				</div>
			</div>
		</div>
		<!-- End Product Section -->


		<!-- Start Community Section -->
		<div class="blog-section">
			<div class="container">
				<div class="row mb-5">
					<div class="col-md-6">
						<h2 class="section-title noto-serif-kr">Community</h2>
					</div>
					<div class="col-md-6 text-start text-md-end">
						<a th:href="@{/community/communityMain}" class="more noto-serif-kr">게시물 모두 보기</a>
					</div>
				</div>

				<div class="row">

					<div th:if="${#lists.isEmpty(communityList)}">
	                <p>No Community posts available.</p>
	            </div>
	            <div th:each="community : ${communityList}" class="col-12 col-sm-6 col-md-4 mb-5">
	                <div class="post-entry">
	                    <div class="image-container">
	                        <!-- 썸네일 이미지 -->
	                        <a th:href="@{/community/communityDetail/{communityId}(communityId=${community['communityId']})}" class="post-thumbnail">
	                            <img th:src="${community['communityThumbnailUUID'] != null ? '/uploads/' + community['communityThumbnailUUID'] : '/bootstrap/images/community_basic.jpg'}"
	                                 style="width: 100%; height: 230px; object-fit: cover;" alt="Thumbnail" class="img-fluid">
	                        </a>
	                    </div>
	
	                    <!-- 게시물 내용 -->
	                    <div class="post-content-entry">
	                        <h3 style="list-style: none;"><a th:href="@{/community/communityDetail/{communityId}(communityId=${community['communityId']})}" th:text="${community.communityTitle}"></a></h3>
	                        <div class="meta">
	                            <span>by <a href="#" th:text="${community.memberNm}"></a></span>
	                            <span>on <a href="#" th:text="${#dates.format(community.createDt, 'yyyy-MM-dd')}"></a></span>
	                            <span style="float:right;">조회수 <a href="#" th:text="${community.readCnt}"></a></span>
	                        </div>
	                    </div>
	                </div>
	            </div>
			</div>
		</div>
		<!-- End Blog Section -->	
	
	</div>

</body>
</html>